* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  background-image: url(/image/HP-Festive-Women-Hero-Banner-Desktop-3840x2160.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 4;
}
.hero .navbar {
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  width: 100%;
}
.hero .navbar .icons input {
  background-color: transparent;
  height: 33px;
  border: 2px solid rgb(182, 183, 169);
  opacity: 1;
  color: white;
  margin-right: 20px;
  padding-left: 10px;
  border-radius: 5px;
}
.hero .navbar .icons a {
  color: white;
  font-size: 22px;
  margin-right: 15px;
}
.hero .navbar nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
.hero .navbar nav ul a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 10px;
}
.hero .navbar:hover {
  background-color: whitesmoke;
  transition: 0.5s;
  color: #d40001;
}
.hero .navbar:hover input {
  border: 2px solid black;
  border-radius: 5px;
}
.hero .navbar:hover a {
  color: black;
}

.banner {
  margin-top: 15px;
}
.banner .banner1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner .banner1 .ban1 {
  height: 90vh;
  background-image: url(/image/banner1.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}
.banner .banner1 .ban1 .ban1_heading a {
  color: white;
  padding: 8px;
  border-radius: 6px;
  background-color: #d40001;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  font-family: sans-serif;
}
.banner .banner1 .ban1 .ban1_heading1 a {
  height: 100px;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 15px;
}
.banner .banner1 .ban1 .ban1_heading1 a:hover {
  color: red;
  transition: 0.5s;
}
.banner .banner1 .ban2 {
  height: 90vh;
  background-image: url(/image/banner2.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}
.banner .banner1 .ban2 .ban1_heading a {
  color: white;
  padding: 8px;
  border-radius: 6px;
  background-color: #d40001;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  font-family: sans-serif;
}
.banner .banner1 .ban2 .ban1_heading1 a {
  height: 100px;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 15px;
}
.banner .banner1 .ban2 .ban1_heading1 a:hover {
  color: red;
  transition: 0.5s;
}

.trends {
  margin-top: 15px;
}
.trends .trends1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.trends .trends1 .trend1 {
  height: 90vh;
  background-image: url(/image/trends1.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position-y: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  padding: 15px;
}
.trends .trends1 .trend1 .ban2_heading h1 {
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 35px;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}
.trends .trends1 .trend1 .ban2_heading1 a {
  height: 100px;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 15px;
}
.trends .trends1 .trend1 .ban2_heading1 a:hover {
  color: red;
  transition: 0.5s;
}
.trends .trends1 .trend2 {
  height: 90vh;
  background-image: url(/image/trends2.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  padding: 15px;
}
.trends .trends1 .trend2 .ban2_heading h1 {
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 35px;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}
.trends .trends1 .trend2 .ban2_heading1 a {
  height: 100px;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 15px;
}
.trends .trends1 .trend2 .ban2_heading1 a:hover {
  color: red;
  transition: 0.5s;
}
.trends .trends1 .trend3 {
  height: 90vh;
  background-image: url(/image/trends3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  padding: 15px;
}
.trends .trends1 .trend3 .ban2_heading h1 {
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 35px;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}
.trends .trends1 .trend3 .ban2_heading1 a {
  height: 100px;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 15px;
}
.trends .trends1 .trend3 .ban2_heading1 a:hover {
  color: red;
  transition: 0.5s;
}

.strikers {
  margin-top: 15px;
}
.strikers .strikers1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.strikers .strikers1 .striker1 {
  height: 90vh;
  background-image: url(/image/striker1.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  padding: 15px;
}
.strikers .strikers1 .striker1 .ban3_heading h1 {
  color: white;
  padding: 8px;
  border-radius: 6px;
  line-height: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 35px;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}
.strikers .strikers1 .striker1 .ban3_heading1 a {
  height: 100px;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 15px;
}
.strikers .strikers1 .striker1 .ban3_heading1 a:hover {
  color: red;
  transition: 0.5s;
}
.strikers .strikers1 .striker2 {
  height: 90vh;
  background-image: url(/image/striker2.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  padding: 15px;
}
.strikers .strikers1 .striker2 .ban3_heading h1 {
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 35px;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}
.strikers .strikers1 .striker2 .ban3_heading1 a {
  height: 100px;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 15px;
}
.strikers .strikers1 .striker2 .ban3_heading1 a:hover {
  color: red;
  transition: 0.5s;
}

.footwears {
  margin-top: 15px;
}
.footwears .footwears1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footwears .footwears1 .foot1 {
  height: 50vh;
  background-image: url(/image/footwear1.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position-y: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  padding: 15px;
}
.footwears .footwears1 .foot1 .ban4_heading h1 {
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 35px;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}
.footwears .footwears1 .foot2 {
  height: 50vh;
  background-image: url(/image/footwear2.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  padding: 15px;
}
.footwears .footwears1 .foot2 .ban4_heading h1 {
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 35px;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}
.footwears .footwears1 .foot3 {
  height: 50vh;
  background-image: url(/image/footwear3.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  padding: 15px;
}
.footwears .footwears1 .foot3 .ban4_heading h1 {
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 35px;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  color: black;
  height: 80vh;
  padding-left: 180px;
  padding-right: 180px;
  background-color: rgba(207, 207, 194, 0.584);
}
.footer .quick {
  justify-content: center;
  align-items: center;
  height: 280px;
  padding: 30px;
  text-transform: uppercase;
  color: black;
}
.footer .quick h1 {
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
.footer .quick ul {
  list-style: none;
  padding-bottom: 10px;
  font-weight: 100;
}
.footer .quick ul li {
  margin-bottom: 10px;
}
.footer .quick ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .navbar:hover {
    background-color: whitesmoke;
    transition: 0.5s;
    color: #d40001;
  }
  .navbar:hover input {
    border: 2px solid black;
    border-radius: 5px;
  }
  .navbar:hover a {
    color: black;
  }
  .icons input {
    display: none;
  }
  .banner {
    margin-top: 15px;
  }
  .banner .banner1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .trends {
    margin-top: 15px;
  }
  .trends .trends1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 140vh;
  }
}
@media (max-width: 425px) {
  .footwears {
    margin-top: 15px;
  }
  .footwears .footwears1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .navbar nav {
    display: none;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .footer .quick {
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: black;
  }
  .footer .quick h1 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .footer .quick ul {
    list-style: none;
    padding-bottom: 10px;
    font-weight: 100;
  }
  .footer .quick ul li {
    margin-bottom: 10px;
  }
  .footer .quick ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */