* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  background-image: url(/image/HP-Festive-Women-Hero-Banner-Desktop-3840x2160.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  opacity: 4;

  .navbar {
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;

    .icons {
      input{
        background-color: transparent;
        height: 33px;
        border: 2px solid rgb(182, 183, 169);
        opacity: 1;
        color: white;
        margin-right: 20px;
        padding-left: 10px;
        border-radius: 5px;
        
      }
      a {
        color: white;
        font-size: 22px;
        margin-right: 15px;
      }
    }

    nav ul {
      display: flex;
      list-style: none;
      gap: 25px;

      a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-weight: 10px;
      }
    }
  }
  .navbar:hover {
    background-color: whitesmoke;
    transition: 0.5s;
    color: #d40001;
    input{

      border: 2px solid black;
      border-radius: 5px;
    }
    a{
      color: black;
    }
  }
}
.banner {
  margin-top: 15px;
  .banner1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .ban1 {
      height: 90vh;
      background-image: url(/image/banner1.avif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column;
      .ban1_heading a {
        color: white;

        padding: 8px;
        border-radius: 6px;
        background-color: #d40001;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
        font-family: sans-serif;
      }
      .ban1_heading1 a {
        height: 100px;
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        font-family: sans-serif;
        margin-right: 15px;
      }
      .ban1_heading1 a:hover {
        color: red;
        transition: 0.5s;
      }
    }
    .ban2 {
      height: 90vh;
      background-image: url(/image/banner2.avif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column;
      .ban1_heading a {
        color: white;

        padding: 8px;
        border-radius: 6px;
        background-color: #d40001;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
        font-family: sans-serif;
      }
      .ban1_heading1 a {
        height: 100px;
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        font-family: sans-serif;
        margin-right: 15px;
      }
      .ban1_heading1 a:hover {
        color: red;
        transition: 0.5s;
      }
    }
  }
}

.trends {
  margin-top: 15px;
  .trends1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .trend1 {
      height: 90vh;
      background-image: url(/image/trends1.avif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-position-y: 0.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column; 
      padding: 15px;
      .ban2_heading h1 {
        color: white;

        padding: 8px;
        border-radius: 6px;
       
        text-decoration: none;
        font-weight: 600;
        font-size: 35px;
        align-items:center ;
        font-family: sans-serif;
        text-align: center;
      }
      .ban2_heading1 a {
        height: 100px;
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        font-family: sans-serif;
        margin-right: 15px;
      }
      .ban2_heading1 a:hover {
        color: red;
        transition: 0.5s;
      }
    }
    .trend2 {
      height: 90vh;
      background-image: url(/image/trends2.avif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
       display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column; 
      padding: 15px;
      .ban2_heading h1 {
        color: white;

        padding: 8px;
        border-radius: 6px;
       
        text-decoration: none;
        font-weight: 600;
        font-size: 35px;
        align-items:center ;
        font-family: sans-serif;
        text-align: center;
      }
      .ban2_heading1 a {
        height: 100px;
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        font-family: sans-serif;
        margin-right: 15px;
      }
      .ban2_heading1 a:hover {
        color: red;
        transition: 0.5s;
      }
    }
    .trend3 {
      height: 90vh;
      background-image: url(/image/trends3.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column; 
      padding: 15px;
      .ban2_heading h1 {
        color: white;

        padding: 8px;
        border-radius: 6px;
       
        text-decoration: none;
        font-weight: 600;
        font-size: 35px;
        align-items:center ;
        font-family: sans-serif;
        text-align: center;
      }
      .ban2_heading1 a {
        height: 100px;
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        font-family: sans-serif;
        margin-right: 15px;
      }
      .ban2_heading1 a:hover {
        color: red;
        transition: 0.5s;
      }
    }
  }
}
.strikers {
  margin-top: 15px;
  .strikers1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .striker1 {
      height: 90vh;
      background-image: url(/image/striker1.avif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
       display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column; 
      padding: 15px;
      .ban3_heading h1 {
        color: white;

        padding: 8px;
        border-radius: 6px;
       line-height: 10px;
        text-decoration: none;
        font-weight: 600;
        font-size: 35px;
        align-items:center ;
        font-family: sans-serif;
        text-align: center;
      }
      .ban3_heading1 a {
        height: 100px;
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        font-family: sans-serif;
        margin-right: 15px;
      }
      .ban3_heading1 a:hover {
        color: red;
        transition: 0.5s;
      }
    }
    .striker2 {
      height: 90vh;
      background-image: url(/image/striker2.avif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
       display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column; 
      padding: 15px;
      .ban3_heading h1 {
        color: white;

        padding: 8px;
        border-radius: 6px;
       
        text-decoration: none;
        font-weight: 600;
        font-size: 35px;
        align-items:center ;
        font-family: sans-serif;
        text-align: center;
      }
      .ban3_heading1 a {
        height: 100px;
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        font-family: sans-serif;
        margin-right: 15px;
      }
      .ban3_heading1 a:hover {
        color: red;
        transition: 0.5s;
      }
    }
  }
}
.footwears {
  margin-top: 15px;
  .footwears1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .foot1 {
      height: 50vh;
      background-image: url(/image/footwear1.avif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-position-y: 0.5px;
         display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column; 
      padding: 15px;
      .ban4_heading h1 {
        color: white;

        padding: 8px;
        border-radius: 6px;
       
        text-decoration: none;
        font-weight: 600;
        font-size: 35px;
        align-items:center ;
        font-family: sans-serif;
        text-align: center;
      }
      
    }
    .foot2 {
      height: 50vh;
      background-image: url(/image/footwear2.avif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
         display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column; 
      padding: 15px;
      .ban4_heading h1 {
        color: white;

        padding: 8px;
        border-radius: 6px;
       
        text-decoration: none;
        font-weight: 600;
        font-size: 35px;
        align-items:center ;
        font-family: sans-serif;
        text-align: center;
      }
    }
    .foot3 {
      height: 50vh;
      background-image: url(/image/footwear3.avif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
         display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column; 
      padding: 15px;
      .ban4_heading h1 {
        color: white;

        padding: 8px;
        border-radius: 6px;
       
        text-decoration: none;
        font-weight: 600;
        font-size: 35px;
        align-items:center ;
        font-family: sans-serif;
        text-align: center;
      }
    }
  }
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: black;
    height: 80vh;
    padding-left: 180px;
    padding-right: 180px;
    background-color: rgba(207, 207, 194, 0.584);





    .quick {
        justify-content: center;
        align-items: center;
        height: 280px;
        padding: 30px;
        text-transform: uppercase;
        color: black;

        h1 {
            color: black;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 10px;
        }

        ul {
            list-style: none;
            padding-bottom: 10px;
            font-weight: 100;



            li {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }

        }
    }


}
@media (max-width: 768px){

  .navbar:hover {
    background-color: whitesmoke;
    transition: 0.5s;
    color: #d40001;
    input{

      border: 2px solid black;
      border-radius: 5px;
    }
    a{
      color: black;
    }
  }
  .icons{
    input{
      display: none;
    }
  }
  .banner {
  margin-top: 15px;
  .banner1 {
    display: grid;
    grid-template-columns: 1fr;}
  }
  .trends {
  margin-top: 15px;
  .trends1 {
    display: grid;
    grid-template-columns: 1fr ;}
  }

 .footer {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    height: 140vh;
  }


}
@media (max-width: 425px){
  .footwears {
  margin-top: 15px;
  .footwears1 {
    display: grid;
    grid-template-columns:1fr ;
  }
  }

 .navbar{
  nav{
    display: none;
  }
 }
 
.footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    color: black;
   
    
  
    





    .quick {
        justify-content: center;
        align-items: center;
       
        
        text-transform: uppercase;
        color: black;

        h1 {
            color: black;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 10px;
        }

        ul {
            list-style: none;
            padding-bottom: 10px;
            font-weight: 100;



            li {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }

        }
    }

}
}
 